:root {
  --primary: #17152e;
  --secondary: #040517;
  --purple: #3d0e3d;
  --content: #e5e5e5e7;
  --gray: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 240px 1fr;
}

body::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;

  border-radius: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(162, 157, 210, 0.05);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #312d62;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #413a7e;
  border-radius: 1rem;
}
